@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');


/* Global */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: auto;
}
.fundo{
  background: linear-gradient(135deg, #361b52, #005e53);
}

.Pacifico {
  font-family: 'Outfit', cursive;
  font-size: 60px;
  color: #ff5500;
  text-shadow: #000;
}
.Rafinha {
  padding-bottom: 22px;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  background: linear-gradient(135deg, #9532f8, #1bbba9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.167); 
}


/* Paginas de Login e Cadastro  ==============================================================*/
.cadastro-login {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(135deg, #643890, #017D6F);
  color: #FFF;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cadastro-login .card {
  width: 100%;
  max-width: 400px; 
  background-color: #E0F7F4;
  color: #000;
}
.cadastro-login .card h2 {
  font-family: 'Pacifico', cursive;
  color: #017D6F;
}
.cadastro-login .btn-link {
  color: #017D6F;
  text-decoration: none;
}
#googleButtonContainer > div {
  transform: scale(1); 
  transform-origin: center; 
  width: 100%; 
  max-width: none; 
}
.cadastro-login .text-danger {
  color: #FF6F61 !important;
}

/* Container de Postagens ====================================================================*/
.cinza {
  max-width: 670px;
  margin: 40px auto 40px auto; 
  background: linear-gradient(185deg, #000000e2, #002823);
  padding: 20px; 
  border-radius: 50px; 
  border:3px solid #8000ff;     
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.855); 
}
.drop {
  position: absolute;
  left: 29rem; /* 465px convertido para rem (465px / 16px = 29rem) */
  z-index: 1050;
}
.telinha {
  background-color: #002823 !important;
  border:1px solid #37ffaf !important; 
  color: white !important;
}
.telinha .dropdown-item {
  color: white !important; /* Garantir que o texto do item também fique branco */
}
.telinha .dropdown-item:hover {
  background-color: #005750 !important; /* Cor de hover para o item */
}
@media (max-width: 768px) {
  .drop {
    left: 13rem; /* Ajuste se necessário */
    top: 5px; /* Distância ajustada para telas menores */
  }
}

.blackRgb{
  background-color: #000000e2 !important;
}

/* Modal Criar Uma Postagem ----------------------------------------------------------------------*/
.modal-content {
  border: 2px solid purple !important; 
}
.modal-header, .modal-footer {
  border-color: black !important; 
}
.modal-header, .modal-footer {
  border: none !important;
}
.modal-body input,
.modal-body textarea {
  background-color: #292929e2; 
  color: white; 
  border: 1px solid #444; 
}
.modal-body input::placeholder,
.modal-body textarea::placeholder {
  color: white; 
  opacity: 0.9!important; 
}
.modal-body input:focus,
.modal-body textarea:focus {
  background-color: #000000e2; 
  color: white; 
  border-color: #444; 
  box-shadow: none; 
}
.modal-header .btn-close {
  filter: brightness(0) invert(1);
}
/* --------------------------------------------------------------- */
/* Scroll */
::-webkit-scrollbar {
  width: 10px; 
}
::-webkit-scrollbar-track {
  background: #000000; 
  border-radius: 10px; 
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #643890, #017D6F);
  border-radius: 10px;
  border: 1px solid transparent; 
  background-clip: padding-box; 
}
::-webkit-scrollbar-thumb:hover {
  background-color: #4800ff; 
}
