@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Resetando o body e html */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Estilo geral da página de login e cadastro */
.cadastro-login {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(135deg, #643890, #017D6F);
  color: #FFF;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Card de Login/Cadastro */
.cadastro-login .card {
  width: 100%;
  max-width: 400px; /* Limite máximo para o formulário */
  background-color: #E0F7F4;
  color: #000;
}

/* Títulos */
.cadastro-login .card h2 {
  font-family: 'Pacifico', cursive;
  color: #017D6F;
}

/* Link de redirecionamento */
.cadastro-login .btn-link {
  color: #017D6F;
  text-decoration: none;
}

/* Estilo da mensagem de erro */
.cadastro-login .text-danger {
  color: #FF6F61 !important;
}

.cinza{
  background-color: #00000046;
}